<div class='field-unit__label'>
  <%= f.label field.attribute %>
</div>
<div class='field-unit__field'>
  <%= f.collection_select(
    field.attribute,
    f.object.class.public_send(field.attribute.to_s.pluralize),
    :first,
    :first,
    {},
    { multiple: false },
  )
  %>
</div>
