!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env.local
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/public/assets
/public/uploads
/tags
/tmp/*
.env
.zenflow-log
errors.err
.ctags
.cadre/coverage.vim

/public/packs
/node_modules
/zbackups/*
