<header class="main-content__header">
	<h1 class="main-content__page-title">Edit Affiliate/Discount Code</h1>
  <%= link_to "Show Details", "/admin/affiliate_discount_codes/", class: "button" %>
</header>