table {
  border-collapse: collapse;
  font-size: 0.9em;
  text-align: left;
  width: 100%;

  a {
    color: inherit;
    text-decoration: none;
  }
}

thead {
  font-weight: $bold-font-weight;
}

tr {
  border-bottom: $base-border;
}

tbody tr {
  &:hover {
    background-color: $base-background-color;
    cursor: pointer;
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: -($focus-outline-width);
  }
}

td,
th {
  font-feature-settings: "kern", "liga", "clig", "calt", "lnum", "tnum";
  font-kerning: normal;
  font-variant-ligatures: common-ligatures, contextual;
  font-variant-numeric: lining-nums, tabular-nums;
  padding: 0.75rem;
  vertical-align: middle;
}

td:first-child,
th:first-child {
  padding-left: 2rem;
}

td:last-child,
th:last-child {
  padding-right: 2rem;
}

td img {
  max-height: 2rem;
}
td {
  height: 67px;
}
thead, tbody, tfoot {
    border: none;
    background-color: #fefefe;
    border-spacing: 0px;
}
tbody tr:nth-child(even) {
  border-bottom: 0;
  background-color: #ffffff;
}
thead th {
    background: $primary;
    color: white;
    height: 67px;
}
table {
  box-shadow: 1px 3px 22px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  border-spacing: 0px;
}
tbody tr:hover {
  background: #D2FFF2;
}
thead tr .cell-label a:hover, tr th a:hover {
  color: white;
}

.cell-label:hover a {
    color: $dark-green!important;
}
.cell-label__sort-indicator svg, .cell-label__sort-indicator svg:hover {
  fill: #ffffff!important;
}
.cell-label--number {
  text-align: left!important;
}
.cell-data--number {
  text-align: center!important;
}
