<div class='field-unit__label'>
  <%= f.label 'Prerequisites' %>
</div>
<div class='field-unit__field'>
  <%= f.collection_select(:prereq,
                          PyramidModule.all,
                          :id,
                          :name,
                          {
                            include_blank: 'For Use ONLY on Level 2 - 5 Modules',
                            include_hidden: false,
                          },
                          { multiple: true }
                        ) %>

</div>
