- # TODO: (2018-01-13) jon => wrap the plan price finders in an object. Rescues are not good.
- plan = "Stripe::Plans::#{plan_type.upcase}".constantize rescue nil
- price = plan.amount / 100 rescue 350
ruby:
  plan_checkout_title =
    case plan_type
    when 'monthly'
      'Rise Monthly Subscription'
    when 'monthly_with_coaching'
      'Rise Monthly w/ Coaching'
    when 'annually'
      'Rise Annual Subscription'
    when 'annually_with_coaching'
      'Rise Annual w/ Coaching'
    when 'forever'
      'Own It Forever'
    end

= form_tag subscriptions_path do
  script{
    src="https://checkout.stripe.com/checkout.js"
    class="stripe-button"
    data-key="#{ENV['STRIPE_PUBLISHABLE_KEY']}"
    data-locale="auto"
    data-label=plan_type.titleize
    data-name="#{plan_checkout_title}"
    data-description="$#{price}"
  }
  = hidden_field_tag 'plan_type', plan_type

sass:
  button.stripe-button-el
    background-color: white
    background-image: none
    border: none
    border-radius: none
    box-shadow: none
    height: 32px
    width: 215px

  button.stripe-button-el span
    background-color: #3adb76
    background-image: none
