$_search-icon-size: 1rem;

.search {
  margin-left: auto;
  margin-left: 1rem;
  max-width: 20rem;
  position: relative;
  width: 100%;
}

.search__input {
  border-radius: 4px;
  padding-left: $_search-icon-size * 2.5;
  padding-right: $_search-icon-size * 2.5;
}

.search__eyeglass-icon {
  fill: $grey-7;
  height: $_search-icon-size;
  left: $_search-icon-size;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: $_search-icon-size;
}

.search__clear-link {
  height: $_search-icon-size;
  position: absolute;
  right: $_search-icon-size * 0.75;
  top: 51%;
  transform: translateY(-50%);
  width: $_search-icon-size;
}

.search__label {
  margin: 0px;
  padding: 0px;
}

.search__clear-icon {
  fill: $grey-5;
  height: $_search-icon-size;
  position: absolute;
  transition: fill $base-duration $base-timing;
  width: $_search-icon-size;

  &:hover {
    fill: $action-color;
  }
}

.right-actions {
  float: right;
}
