.outer-wrapper
  position: relative
  min-height: 100%

.navigation-wrapper
  @include outer-container

.main
  padding: 18px
  @include outer-container
  padding-bottom: 450px

.footer
  min-height: 420px
  position: absolute
  bottom: 0
  left: 0
